$pointer : pointer;
$blue: #73AFF4;
$black: #000;
$white: #fff;
$light-gray : #AAAAAA;
$light-blue: #e2efff;

@mixin FlexSB {
    display:flex;
    justify-content: space-between;
}

@mixin AlignCenter {
    display: flex;
    align-items: center;
}

@mixin InterFont {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin PTSans {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin PTSans14_16 {
    @include PTSans();
        font-size: 14px;
        line-height: 16px;
}

body {
    max-width: 1720px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #393939;
}

.display_none {
    display: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    @include PTSans();
    text-align: center;
    font-weight: 700;
    padding-top: 12px;
}

.main {
    max-width: 1720px;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
    margin-bottom: 20px;
} 

.header {
    @include InterFont();
    max-width: 1720px;
    @include AlignCenter();
    justify-content: start;
    gap:20px;


    &__logo {
        @include AlignCenter();
        gap: 10px;
        cursor: $pointer;
    }

    &__name {
        line-height: 19.36px;
    }

    &__search {
        display: none;
    }

    &__catalog {
        color: $black;
        border: 1px solid $blue;
        border-radius: 5px;
        padding: 12px 19px;
        margin-left: 5px;
        cursor: $pointer;
        font-size: 14px;
        line-height: 16.94px;
        margin:0;
    }

    &__catalog:hover {
        background-color: $blue;
        color: $white;
    }

    & ul {
        font-size: 14px;
        display: flex;
        gap: 13px;
        padding-left: 0;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        width:400px;
    }

    &__input_high {
        @include InterFont();
        color: #5A5A5A;
        padding: 12px 15px 12px 40px;
        border: 1px solid $blue;
        border-radius: 10px;
        width: 1015px;
        background: url("src/assets/search.png") no-repeat 12px 10px;
    }

    &__input_small {
        display: none;
    }

    &__exit {
        display: none;
    }

    &__item {
        line-height: 16.94px;
    }

    &__item:hover {
        box-shadow: 0px 5px 1px rgba(99, 99, 99, 0.17);;
    }
}

.logo__img {
    width: 18px;
    height: 18px;
    padding-left: 15px;
}

.category {
    &__list {
        max-width: 280px;
        padding-left: 0;
        padding-right: 33px;
    }

    &__item {
        @include PTSans14_16();
        padding-left: 25px;
        @include FlexSB();
        padding-top: 8px;
        padding-bottom: 6px;
        color: #333333;
    
        &_main {
            padding-left: 0px;
            padding-top: 16px;
        }
    }

    &__item:hover {
        cursor: $pointer;
        background-color:$light-blue;
    }

    &__count {
        color: $light-gray;
    }

    &__count:hover {
        color: $black;
    }
}

.filter {
    width: 280px;
    margin-top: 10px;
    // margin-left: 40px;

    &__price {
        @include FlexSB();
        align-items: center;
        position: relative;
        line-height: 20px;
        box-sizing: border-box;
        padding-right: 14px;
        padding-top: 8px;
    }

    &__price::before {
        content: "от";
        position: absolute;
        color: #d5d5d5;
        top: 20px;
        left: 10px;
        font-size: 12px;
        line-height: 14px;
    }

    &__price::after {
        content: "до";
        position: absolute;
        color: #d5d5d5;
        top: 19px;
        right: 110px;
        font-size: 12px;
        line-height: 14px;
    }

    &__brand {
        margin-top: 20px;
        padding-right: 18px;
    }
}

.brand {
    &__legend {
        text-align: left;
        padding-top: 0;
    }

    &__button {
        border: 0;
        padding: 0;
        background-color: transparent;
        text-decoration: underline;
        color: $light-gray;
        cursor: $pointer;
        @include PTSans();
        font-size: 12px;
        line-height: 12px;
        padding-right: 15px;
    }

    &__wrap {
        @include FlexSB();
        align-items: center;
        margin-bottom: 20px;
    }

    &__input {
        display: block;
        width: 95%;
        box-sizing: border-box;
        padding: 8px 10px 8px 30px;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        margin-bottom: 10px;
        @include PTSans14_16();
        color: $light-gray;
        background: url("src/assets/search-small.png") no-repeat 9px 8px;
    }

    &__list {
        margin-top: 0;
        width: 280px;
        padding-left: 0;
        padding-right: 30px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    &__checkbox {
        @include FlexSB();
    }

    &__item {
        padding: 5px 0;
        @include PTSans14_16();
    }

    &__item:hover {
        background-color: $light-blue;
    }

}

.price {
    &__input {
        box-sizing: border-box;
        width: 119px;
        padding: 10px 8px 10px 26px;
        border-radius: 4px;
        border: solid 0.5px $light-gray;
        @include PTSans14_16();
    }
        &_left {
            padding-left: 30px;
        }
    &__legend {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.checkbox {
    &__input {
        transform: scale(1.5);
        cursor: $pointer;
    }
    &__count {
        color: $light-gray;
        cursor: $pointer;
    }
    &__count:hover {
        color: $black;
    }
}

.size {
    &__list {
        margin-top: 0;
        width: 280px;
        padding-left: 0;
        padding-right: 30px;
        padding-top: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    &__item {
        padding: 5px 0;
        @include PTSans14_16();
    }

    &__item:hover {
        background-color: $light-blue;
    }

    &__checkbox {
        @include FlexSB();
    }
}

.goods {
    box-sizing: border-box;
    width: 1404px;
    margin-top: 30px;

    &__cards {
        padding-left: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
        row-gap: 24px;
    }

    &__name {
        display: none;
    }
}

.cards {
    &__item {
        width: 333px;
    }

    &__card {
        width: 333px;
    }
}

.card {
    box-sizing: border-box;

    &__picture {
        width: 333px;
        height: 190px;
        background-color: #f8f8fa;
        margin-bottom: 12px;
        position: relative;
    }

    &__buy {
        @include PTSans();
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #7397F5;
        border: 1px solid #7397F5;
        padding: 8px 15px;
        border-radius: 4px;
        background-color: transparent;
        cursor: $pointer;

        &_finished {
            width: 100%;
            padding: 8px;
            background-color: transparent;
            border: 1px solid $light-gray;
            @include PTSans();
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            color: $light-gray;
            cursor: $pointer;
        }
    }

    &__img {
        position: absolute;
        left: 40%;
        top: 38%;

        &_big {
            transform: scale(1.5);
        }

        &_transparent {
            opacity: 0.5;
        }
    }

    &__brand {
        @include PTSans14_16();
        color: $light-gray;
        margin-bottom: 10px;
    }

    &__description{
        width: 333px;
        @include PTSans14_16();
        margin-top: 0px;
    }

    &__price {
        @include PTSans();
        font-weight: 700;
    }

    &__price_old {
        @include PTSans();
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-decoration: line-through;
        color: $light-gray;
    }

    &__top {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 4px 10px;
        border: 1px transparent solid;
        border-radius: 4px;
        background-color: $white;
        @include PTSans14_16();
    }

    &__sale {
        margin: 0;
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: $blue;
        color: $white;
        @include PTSans();
        font-weight: 700;
        line-height: 14px; 
        font-size: 14px;
        padding: 5px 7px;
        border: 1px transparent solid;
        border-radius: 4px;
    }
}

.scale {
    transition: 1s; 
}

.scale:hover {
    transform: scale(1.1); 
}

@media (max-width: 1441px) {

    body {
        max-width: 1440px;
    }

    .header {
        @include InterFont();
        max-width: 1240px;


        &__input_high {
            width: 479px;
        }
    }

    .main {
        max-width: 1240px;
        grid-template-columns: 280px 924px;
    }

    .goods__cards {
        width: 924px;
    }

    .cards__card {
        width: 213px;
    }

    .card {
        &__picture {
            width: 213px;
        }

        &__description {
            width: 213px;
        }
    }
}

@media (max-width: 376px) {

    .main {
        display: block;
    }

    .filter {
        display: none;
    }

    .header {
        position: relative;

        &__logo {
            display:none;
        }

        &__catalog {
            display:none;
        }

        &__list {
            display:none;
        }

        &__input_small {
            display: block;
            @include InterFont();
            color: #5A5A5A;
            padding: 12px 15px 12px 40px;
            border: none;
            border-bottom: 1px solid $light-gray;
            width: 375px;
            background: url("src/assets/arrow.png") no-repeat 12px 10px;
        }

        &__exit {
            display: block;
            position: absolute;
            right: 85px;
        }

        &__input_high {
            display: none;
        }

        &__search {
            display: block;
            background-color: #73AFF4;
            color: #fff;
            @include PTSans();
            line-height: 14px;
            font-size: 14px;
            padding: 5px 7px;
            border: 1px transparent solid;
            border-radius: 4px;
            position: absolute;
            right: 15px;
            cursor: $pointer;
        }
    }

    .goods {
        max-width: 344px;
        margin-top: 10px;

        &__name {
            display: block;
            @include PTSans();
            font-size: 22px;
            line-height: 28px;
            margin-top: 0;
            max-width: 300px;
        } 

        &__cards {
            gap: 12px;
            grid-template-columns: 165.5px 165.5px;
            max-width: 374px;
        }
    }

    .card {
        &__picture {
            width: 165.5px;
        }

        &__description {
            width: 165.5px;
        }

        &__img {
            left: 32%;
        }

        &__img_big {
            transform: scale(1);
        }

        &__img_transparent {
            opacity: 1;
        }
    }

    .cards {

        &__card {
            width: 165.5px;
        }
    }
}