@charset "UTF-8";
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #393939;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 12px;
}

.main {
  max-width: 1720px;
  margin: auto;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 30px;
}

.display_none {
  display: none;
}

.header {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1720px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: auto;
  gap: 20px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header__name {
  line-height: 19.36px;
}
.header__catalog {
  color: #000;
  border: 1px solid #73AFF4;
  border-radius: 5px;
  padding: 12px 19px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16.94px;
  margin: 0;
}
.header__catalog:hover {
  background-color: #73AFF4;
  color: #fff;
}
.header ul {
  font-size: 14px;
  display: flex;
  gap: 13px;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  width: 400px;
}
.header__input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5A5A5A;
  padding: 12px 15px 12px 40px;
  border: 1px solid #73AFF4;
  border-radius: 10px;
  width: 1015px;
  background: url("src/assets/search.png") no-repeat 12px 10px;
}
.header__item {
  line-height: 16.94px;
}
.header__item:hover {
  box-shadow: 0px 5px 1px rgba(99, 99, 99, 0.17);
}

.logo__img {
  width: 18px;
  height: 18px;
  padding-left: 15px;
}

.category__list {
  max-width: 280px;
  padding-left: 0;
  padding-right: 33px;
}
.category__item {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 6px;
  color: #333333;
}
.category__item_main {
  padding-left: 0px;
  padding-top: 16px;
}
.category__item:hover {
  cursor: pointer;
  background-color: #e2efff;
}
.category__count {
  color: #AAAAAA;
}
.category__count:hover {
  color: #000;
}

.filter {
  width: 280px;
  margin-top: 10px;
}
.filter__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  line-height: 20px;
  box-sizing: border-box;
  padding-right: 14px;
  padding-top: 8px;
}
.filter__price::before {
  content: "от";
  position: absolute;
  color: #d5d5d5;
  top: 20px;
  left: 10px;
  font-size: 12px;
  line-height: 14px;
}
.filter__price::after {
  content: "до";
  position: absolute;
  color: #d5d5d5;
  top: 19px;
  right: 110px;
  font-size: 12px;
  line-height: 14px;
}
.filter__brand {
  margin-top: 20px;
  padding-right: 18px;
}

.brand__legend {
  text-align: left;
  padding-top: 0;
}
.brand__button {
  border: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  color: #AAAAAA;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  padding-right: 15px;
}
.brand__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.brand__input {
  display: block;
  width: 95%;
  box-sizing: border-box;
  padding: 8px 10px 8px 30px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #AAAAAA;
  background: url("src/assets/search-small.png") no-repeat 9px 8px;
}
.brand__list {
  margin-top: 0;
  width: 280px;
  padding-left: 0;
  padding-right: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.brand__checkbox {
  display: flex;
  justify-content: space-between;
}
.brand__item {
  padding: 5px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
.brand__item:hover {
  background-color: #e2efff;
}

.price__input {
  box-sizing: border-box;
  width: 119px;
  padding: 10px 8px 10px 26px;
  border-radius: 4px;
  border: solid 0.5px #AAAAAA;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
.price_left {
  padding-left: 30px;
}
.price__legend {
  padding-top: 10px;
  padding-bottom: 10px;
}

.checkbox__input {
  transform: scale(1.5);
  cursor: pointer;
}
.checkbox__count {
  color: #AAAAAA;
  cursor: pointer;
}
.checkbox__count:hover {
  color: #000;
}

.size__list {
  margin-top: 0;
  width: 280px;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.size__item {
  padding: 5px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
.size__item:hover {
  background-color: #e2efff;
}
.size__checkbox {
  display: flex;
  justify-content: space-between;
}

.goods {
  box-sizing: border-box;
  width: 1404px;
  margin-top: 30px;
}
.goods__cards {
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}

.cards__item {
  width: 333px;
}
.cards__card {
  width: 333px;
}

.card {
  box-sizing: border-box;
}
.card__picture {
  width: 333px;
  height: 190px;
  background-color: #f8f8fa;
  margin-bottom: 12px;
  position: relative;
}
.card__buy {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #7397F5;
  border: 1px solid #7397F5;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}
.card__buy_finished {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: 1px solid #AAAAAA;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #AAAAAA;
  cursor: pointer;
}
.card__img {
  position: absolute;
  left: 40%;
  top: 38%;
}
.card__img_big {
  transform: scale(1.5);
}
.card__img_transparent {
  opacity: 0.5;
}
.card__brand {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #AAAAAA;
  margin-bottom: 10px;
}
.card__description {
  width: 333px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0px;
}
.card__price {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
}
.card__price_old {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: line-through;
  color: #AAAAAA;
}
.card__top {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  border: 1px transparent solid;
  border-radius: 4px;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
.card__sale {
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #73AFF4;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  font-size: 14px;
  padding: 5px 7px;
  border: 1px transparent solid;
  border-radius: 4px;
}

.scale {
  transition: 1s;
}

.scale:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */